<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BE_WS_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <!-- 서블릿 등록 
  lifeCycle = new LifeCycleServlet)동일
  : 생성시점
  	서버가 start -> load on startup 설정
  	요청이 처음될 때 -> 설정 필요없음-->
  	<!-- 서블릿이 생성될 때 init-param을 이용하여 정보를 서블릿에게 전달 가능
  	수정보다는 조회 용도로 모든 user들 서블릿을 실행할 때 공유할 정보 전달 -->
  <servlet>
  	<servlet-name>LoginCheck</servlet-name>
  	<servlet-class>kb.servlet.LoginCheckServlet</servlet-class>
  	<init-param>
  		<param-name>dbId</param-name>
  		<param-value>jiwon</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbPwd</param-name>
  		<param-value>jiwon</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  
  <!-- 브라우저에서 요청하면 서블릿이 실행될지 매핑 -->
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  
</web-app>